{%extends 'parent.html' %}
{%load static%}
{%block body%}

<!-- service strt -->
             <div class="container-fluid p-0 pt-1 ">
             <div class="row p-5"style="background-image:url({% static 'imgs/tt1.jpg'%});background-repeat: no-repeat;background-size: 100%;" >
                <div class="col-sm-12  text-center text-white py-5 p-5">
                    <h1> Our Certification</h1>

                </div>
             </div>
             </div>
            <!-- service end --> 
             <!-- text strt -->
              <div class="container-fluid">
                <div class="row  p-5">
                  <div class="col-sm-1"></div>
                  
                  <div class="col-sm-10  p-2 border border-2" style="border-radius:5px">
                    <p>
                        <h5>Certification</h3>
                    <ul>
                        <li>DSIR Recognition</li>
                        <li>Licensing Of Ayurvadic Testing Laboratory (2016)</li>
                        <li>NABL Accreditation as per ISO/IEC 17025:2005 of QAQC Laboratory (2018-2020)</li>
                        <li>Quality Management System (ISO 9001: 2008) of QAQC Laboratory (2009)</li>
                        <li>Environmental Management System (ISO 14001: 2015) Certification of Biotech Park, Lucknow</li>
                        <li>Approved Government Training Partner of ‘Uttar Pradesh Skill Development Mission’</li>
                    </ul>
                  </div>
                  <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 p-5">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                          <div class="col">
                            <div class="card h-100"style="box-shadow:5px 5px 5px 0px grey">
                              <img src="{% static 'img/cer1.jpg'%}" class="card-img-top" alt="...">
                              
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100"style="box-shadow:5px 5px 5px 0px grey">
                              <img src="{%static 'img/cer2.png'%}" class="card-img-top" alt="...">
                              
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100"style="box-shadow:5px 5px 5px 0px grey">
                              <img src="{%static 'img/cer3.jpeg'%}" class="card-img-top" alt="...">
                              
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100"style="box-shadow:5px 5px 5px 0px grey">
                              <img src="{%static 'img/cer4.jpeg'%}" class="card-img-top" alt="...">
                              
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
              </div>
             <!-- text end -->

{%endblock%}
