{%extends 'parent.html'%}
{%block d%}
    :: Student Login
{%endblock%} 

{%block body%}
<div class="row bg-dark">
    <div class="col-sm-12 signin">
        <form action="" method="post" class="p-5 text-dark text-center">
            {%csrf_token%}
            <h4 class=" text-info fw-bold text-center">Student Login</h4>
            <input type="email" name="email" id="" placeholder="Enter Your Email" class="form-control bg-transparent text-dark">
            <br>
            <input type="password" name="password" id="" placeholder="Enter Your password" class="form-control bg-transparent text-dark">
            <br>
            <input type="submit" value="Login" class="form-control btn btn-outline-primary">
        </form>
    </div>
</div>
{%endblock%}