{%extends 'parent.html' %}
{%load static%}
{%block body%}


<!-- service strt -->
             <div class="container-fluid p-0 pt-1 ">
             <div class="row p-5"style="background-image:url({%static 'img/tt1.jpg'%});background-repeat: no-repeat;background-size: 100%;" >
                <div class="col-sm-12  text-center text-white py-5 p-5">
                    <h1>OUR SERVICE</h1>
                </div>
             </div>
             </div>
            <!-- service end --> 
             <!-- text strt -->
              <div class="container-fluid">
                <div class="row p-5">
                  <div class="col-sm-1"></div>
                  
                  <div class="col-sm-10  p-5 border border-2" style="box-shadow:5px 5px 5px 0px grey">
                    <p>
                    <strong>Advisory services:</strong>Consulting, mentoring, and feasibility reports for entrepreneurs, Business Plan preparation and incubation. <br> <br>
                    <strong>Resource services:</strong> Information related to biotech business, IPR, knowledge repository, pilot testing, availability of a pool of intellectual capital, network. conference facilities, training. <br><br>
                    <strong>Capacity Building: </strong>Conference seminars, workshops, training sessions specifically in creating knowledge platforms in biotechnology area around its stakeholders, technology translation & commercialization.
                  </div>
                  <div class="col-sm-1"></div>
                </div>
              </div>
             <!-- text end -->
{%endblock%}
