{%extends 'adparent.html'%}
{%block d%}
:: Branch
{%endblock%}
{%block body%}

</style>
<div class="row my-5">
    <div class="col-md-8 mx-auto ">
        <Form action="" method="POST" class="w-75 mx-auto shadow-lg rounded-4 p-5"  style="box-shadow: 0 0 10px  rgba(13, 202, 240, 0.8) !important;">
            {%csrf_token%}
            <h1 class="text-info fw-bold text-center mb-4">Add Branch</h1>
            <br>
            <label for="" class="text-light fw-bold pb-2" >
                Enter Branch Name :
            </label>
            <input type="text" value="{{b.branch}}" name="branch" class="form-control  rounded-pill mb-3 st " placeholder="Enter Branch Name"/>
            <br>
            <input type="submit" value="Add Branch" class="btn btn-outline-info form-control rounded-pill fw-bold">
        </Form>
    </div>

</div>
<div class="row mt-5">
      <div class="col-md-8 p-5 mx-auto bg-light rounded-3 table-responsive shadow-lg">
        <h3 class="text-dark mb-4 fw-bold"><i class="fa fa-code-branch text-info me-2 fa-bounce"></i>View Branch</h3>
         <table class="table table-hover align-middle text-center shadow-sm-rounded-3 overflow-hidden">
            <thead class="table-dark">
             <tr>
               <th scope="col">Sno.</th>
               <th scope="col">Branch Name</th>
               <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            {%for b in br%}
            <tr>
               <td class="fw-semibold">{{forloop.counter}}</td>
               <td class="fw-bold">{{b.branch}}</td>
               <td><a href="{%url 'adminapp:editbranch' b.id %}" class="btn btn-outline-warning btn-sm shadow-sm"> <i class="fa fa-edit"></i></a></td>
               <td><a href="{%url 'adminapp:deletebranch' b.id %}" class="btn btn-outline-danger btn-sm shadow-sm"><i class="fa fa-trash"></i></a></td>

            </tr>
            {%endfor%}
            </tbody>

         </table>
      </div>
    </div>

   
{%endblock%}