{%extends 'adparent.html'%}
{%block d%}
::index
{%endblock%}
{%block body%}
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center text-light mt-2">
            <span class="text-info">Dashboard</span> Overview
        </h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-11 mx-auto bg-light p-5 rounded-5 shadow-lg">
        <div class="row my-5">
            <div class="col-md-5 p-5 mx-2 text-light bg-dark rounded-5 shadow-lg d-flex justify-content-between aa">
                <i class="fa fa-book fs-1 my-auto"></i>
                <div>
                    <h4 class="text-center">{{stl}}</h4>
                    <h5>Study Material</h5>
                </div>

            </div>

            <div class="col-md-5 p-5 mx-2 text-light bg-dark rounded-5 shadow-lg d-flex justify-content-between aa">
                <i class="fa fa-user fs-1 my-auto"></i>
                <div class="mx-auto">
                    <h4 class="text-center">{{stul}}</h4>
                    <h5>Student</h5>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-5 p-5 mx-2 text-light bg-dark rounded-5 shadow-lg d-flex justify-content-between aa">
                <i class="fa fa-newspaper fs-1 my-auto"></i>
                <div>
                    <h4 class="text-center">{{nl}}</h4>
                    <h5>News</h5>
                </div>

            </div>

            <div class="col-md-5 p-5 mx-2 text-light bg-dark rounded-5 shadow-lg d-flex justify-content-between aa">
                <i class="fa fa-message fs-1 my-auto"></i>
                <div class="mx-auto">
                    <h4 class="text-center">{{fel}}</h4>
                    <h5>Feedback</h5>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-5 p-5 mx-2 text-light bg-dark rounded-5 shadow-lg d-flex justify-content-between aa">
                <i class="fa fa-message fs-1 my-auto"></i>
                <div>
                    <h4 class="text-center">{{col}}</h4>
                    <h5>Complain</h5>
                </div>

            </div>

            <div class="col-md-5 p-5 mx-2 text-light bg-dark rounded-5 shadow-lg d-flex justify-content-between aa">
                <i class="fa fa-message fs-1 my-auto"></i>
                <div class="mx-auto">
                    <h4 class="text-center">{{sugl}}</h4>
                    <h5>Suggestion</h5>
                </div>
            </div>
        </div>
    </div>
    </div>
{%endblock%}