{%extends 'adparent.html'%}
{%block d%}
     :: News
{%endblock%}
{%block body%}
<div class="row my-5">
         <div class="col-md-8 mx-auto ">
            <Form action="" method="POST" class="w-75 mx-auto shadow-lg rounded-4 p-5" style="box-shadow: 0 0 10px  rgba(13, 202, 240, 0.8) !important;">
                {%csrf_token%}
                 <h1 class="text-info fw-bold text-center ">Add News</h1>
                 <br>
                 <label for="" class='text-light fw-bold pb-2'>
                    Enter title :
                 </label>
                 <input type="text"  name="title" class="form-control rounded-pill ps-3 st"><br/>
                 <label for=""  class="text-light fw-bold pb-2">Enter Description</label>
                <textarea name="desc" class="form-control rounded-pill p-3" id=""></textarea>
                 <br>
                 <input type="submit" value="Adddnews" class=" btn btn-outline-info form-control rounded-pill fw-bold">
            </Form>
         </div>
 
    </div>
    <div class="row mt-5">
      <div class="col-md-8 p-5 mx-auto bg-light rounded-3 table-responsive shadow-lg">
         <h3 class="text-dark mb-4 fw-bold"><i class="fa fa-newspaper text-info me-2 fa-bounce"></i>View News</h3>
         <table class="table table-hover align-middle text-center shadow-sm-rounded-3 overflow-hidden">
            <thead class="table-dark">
            <tr>
               <th scope="col">Sno.</th>
               <th scope="col">Title</th>
               <th scope="col">Description</th>
               <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
           <tbody>
            {%for i in news%}
            <tr class="align-middle">
               <td class="fw-semibold">{{forloop.counter}}</td>
               <td class="fw-bold">{{i.title}}</td>
               <td>{{i.desc}}</td>
               <td><a href="" class="btn btn-outline-warning btn-sm shadow-sm"> <i class="fa fa-edit"></i> Edit</a></td>
               <td><a href="" class="btn btn-outline-danger btn-sm shadow-sm"><i class="fa fa-trash"></i> Delete</a></td>

            </tr>
            {%endfor%}
         </table>
      </div>
    </div>
   


    {%endblock%}
    