{% extends 'adparent.html' %} 
{%block d%}
  :: Study Material
{%endblock%}
{% block body %}
<div class="row my-2">
    <div class="mt-2 col-md-8 mx-auto p-5">
        <!-- Add Course Form -->
        <form action="" method="post" enctype="multipart/form-data" class="w-75 mx-auto shadow-lg rounded-4 p-5  " style="box-shadow: 0 0 10px  rgba(13, 202, 240, 0.8) !important;">
            {% csrf_token %}
            <h1 class="text-info fw-bold text-center">
                {%if st%}
                     Update
                     {%else%}
                     Add
                     {%endif%}
                    Study Material</h1>

            <label for="" class="text-light fw-bold pb-2">--Select Course</label>
            <select name="course" class="form-control st">
                {%if st.course%}
                <option value="{{st.course}}">{{st.course}}</option>
                {%else%}
                <option value="">--Select Course</option>
                {%endif%}
                {%for c in cr%}
                <option value="{{c.course}}">{{c.course}}</option>
                {%endfor%}
            </select>
            <br>
            <label for="" class="text-light fw-bold pb-2">--Select Branch</label>
            <select name="branch" class="form-control st">
                <option value="">--Select Branch</option>
                {%for b in br%}
                <option value="{{b.branch}}">{{b.branch}}</option>
                 {%endfor%}
            </select>
            <br>
            <label for="" class="text-light fw-bold pb-2">--Select Session</label>
            <select name="session" class="form-control st">
                <option value="">--Select Session</option>
                {%for s in se%}
                <option value="{{s.session}}">{{s.session}}</option>
                 {%endfor%}
            </select>
            <br>

            <label for="" class="text-light fw-bold pb-2">Enter Subject Name</label>
            <input type="text" value="{{st.subject}}" name="subject" class="form-control  st">
            <br>
            <label for="" class="text-light fw-bold pb-2">Enter File Name</label>
            <input type="text" value="{{st.file_name}}" name="file_name" class="form-control  st">
            <br>
            <label for="" class="text-light fw-bold pb-2">Upload File</label>
            <input type="file" name="file" class="form-control  st">
            <br>
            {%if st%}
            <input type="submit" value="Update Study Material" class="btn btn-outline-info form-control rounded-pill fw-bold">
            {%else%}
            <input type="submit" value="Add Study Material" class="btn btn-outline-info form-control rounded-pill fw-bold">
            {%endif%}
        
            
        </form>
    </div>
</div>

{% endblock %}