{%extends 'adparent.html'%}
{%block d%}
    ::View Study
    {%endblock%}
{%block body%}
 <div class="row my-5">
      <div class="col-md-8 p-5 mx-auto bg-light rounded-3 table-responsive shadow-lg">
         <h3 class="text-dark mb-4 fw-bold"><i class="fa fa-newspaper text-info me-2 fa-bounce"></i>View Study Material</h3>
         <table class="table table-hover align-middle text-center shadow-sm-rounded-3 overflow-hidden">
            <thead class="table-dark">
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Course</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Session</th>
                    <th scope="col">Subject</th>
                    <th scope="col">File</th>
                    <th scope="col" colspan="3">Action</th>
                </tr>
                </thead>
                <tbody>
                    {%for i in viewfeedback%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.course}}</td>
                        <td>{{i.branch}}</td>
                        <td>{{i.session}}</td>
                        <td>{{i.file_name}}</td>
                        <td><a href="/media/{{i.file}}" target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a></td>
                        <td><a href="{%url 'adminapp:editstudy' i.id %}" class="btn btn-outline-warning btn-sm shadow-sm"><i class="fa fa-edit"></i></a></td>
                        <td><a href="{%url 'adminapp:deletestudy' i.id %}" class="btn btn-outline-danger btn-sm shadow-sm"><i class="fa fa-trash"></i></a></td>

                    </tr>
                    </tbody>
                    {%endfor%}
                    </table>
                

{%endblock%}